html, body {
    height: 100%;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0 !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.font-sm {
    font-size: 14px;
}

.badge-square {
    background-color: #CECECEFF;
    border-radius: 2px;
}

.badge-square-selected {
    background-color: #EC6584 !important;
    color: white;
}

.fade-in {
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}

.fix-ul {
    list-style-type: none;
}

.list-item {
    padding: 10px;
    border: 1px solid #CECECEFF;
    border-radius: 5px;
    background-color: white;
}

.list-item-selected {
    border: 1px solid #EC6584 !important;
}

.list-item:hover, .list-item:hover label {
    cursor: pointer;
}

.bg-main {
    background-color: #F5F7F9;
    max-width: 1000px;
}

.d-inline {
    display: inline !important;
}

.app-bg-color {
    background-color: #e2caa5;
}

.text-bold {
    font-weight: 700;
}

.w-45 {
    width: 45%;
}
